apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
spec:
  routes:
    - kind: Rule
      match: Host(`nerdd.univie.ac.at`) && PathPrefix(`/prometheus`)
      services:
        - name: prometheus-k8s
          port: 9090
      middlewares:
        - name: prometheus-strip-prefix-middleware
        - name: prometheus-auth-middleware
  tls:
    certResolver: default
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: prometheus-auth-middleware
spec:
  basicAuth:
    secret: prometheus-auth
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: prometheus-strip-prefix-middleware
spec:
  stripPrefix:
    prefixes:
      - /prometheus
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prometheus-auth
spec:
  target:
    name: prometheus-auth
    template:
      type: kubernetes.io/basic-auth
      data:
        username: apl.de.ap
        password: "{{ .password}}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: prometheus-auth-generator
---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: prometheus-auth-generator
spec:
  length: 25
---

