apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
spec:
  routes:
    - kind: Rule
      match: Host(`nerdd.univie.ac.at`) && (PathPrefix(`/traefik/api`) || PathPrefix(`/traefik/dashboard`))
      services:
        - name: api@internal
          kind: TraefikService
      middlewares:
        - name: traefik-auth-middleware
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-auth-middleware
spec:
  basicAuth:
    secret: dashboard-auth
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: dashboard-auth
spec:
  target:
    name: dashboard-auth
    template:
      type: kubernetes.io/basic-auth
      data:
        username: fergie
        password: "{{ .password}}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: dashboard-auth-generator
---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: dashboard-auth-generator
spec:
  length: 25
---

